@model ProjectBuricLuka.Model.Developer

@{
	ViewData["Title"] = "Editing developer";
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a asp-action="Index">List of developers</a></li>
		<li class="breadcrumb-item active" aria-current="page"> / Editing developer</li>
	</ol>
</nav>
<h1>@ViewData["Title"]</h1>
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<input type="hidden" asp-for="ID" />
			<partial name="_CreateOrEdit" />
		</form>
	</div>

</div>
