@model List<Client>

@{
	ViewData["Title"] = "Home Page";
}


<!--
<h1>Popis klijenata</h1>
<div style="margin-top: 20px; margin-bottom: 10px;">
	<partial name="_ClientFilter" model="new ClientFilterModel()" />
</div>

<div id="filter">
	<partial name="_IndexTable" />
</div>
-->




 